/* 满屏 */
html, body {
    height: 100%;
}


/* 分类主体 */
.jd_category {
    height: 100%;
    width: 100%;
    padding-top: 45px;
}

/* 左边的盒子 */
.jd_category .jd_category_left {
    width: 90px;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #fff;
}

.jd_category_left ul li {
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background: #f3f4f6;
}

.jd_category_left ul li.now {
    background: #fff;
    border-right: 0;
}

.jd_category_left ul li.now a {
    color: #d8505c;
}

.jd_category_left ul li a {
    display: block;
    line-height: 50px;
    text-align: center;
}

/* 右侧的盒子 */
.jd_category_right {
    height: 100%;
    overflow: hidden;
    background: #fff;
}

.jd_category_right_con {
    padding: 0 12px;
}

.jd_category_right_con .jd_adv {
    width: 100%;
    display: block;
    padding-top: 10px;
}

.jd_category_right_con .jd_adv img {
    width: 100%;
    display: block;
}

.jd_category_right_con .jd_hot {
    padding-top: 10px;
}

.jd_category_right_con .jd_hot h3 {
    font-size: 12px;
}

.jd_category_right_con .jd_hot .jd_hot_h3 {
    padding-top: 30px;
}

.jd_category_right_con .jd_hot ul {
    width: 100%;
    padding-top: 10px;
}

.jd_category_right_con .jd_hot ul li {
    float: left;
    width: 33.333%;
    text-align: center;
}

.jd_category_right_con .jd_hot ul li img {
    width: 62px;
    height: 62px;

}

.jd_category_right_con .jd_hot ul li span {
    font-size: 12px;
    display:block;
}




